@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f8f8;
}

.poetsen-one-regular {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.radio-canada-big {
	font-family: "Radio Canada Big", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.nunito-sans {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100, "YTLC" 500;
}

.inter {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.scroll-to-top-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(20, 20, 20);
	border: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
	cursor: pointer;
	transition-duration: 0.3s;
	overflow: hidden;
	position: relative;
	opacity: 0.5;
}

.svgIcon {
	width: 12px;
	transition-duration: 0.3s;
}

.svgIcon path {
	fill: white;
}

.scroll-to-top-btn:hover {
	width: 140px;
	transform-origin: center;
	border-radius: 50px;
	transition-duration: 0.3s;
	background-color: black;
	align-items: center;
	opacity: 1;
}

.scroll-to-top-btn:hover .svgIcon {
	/* width: 20px; */
	transition-duration: 0.3s;
	transform: translateY(-200%);
}

.scroll-to-top-btn::before {
	position: absolute;
	bottom: -20px;
	content: "Back to Top";
	color: white;
	/* transition-duration: .3s; */
	font-size: 0px;
}

.scroll-to-top-btn:hover::before {
	font-size: 13px;
	opacity: 1;
	bottom: unset;
	/* transform: translateY(-30px); */
	transition-duration: 0.3s;
}

.product-card-image {
	background-color: #e8e8e8;
	height: 100%;
	width: 100%;
	padding: 20px 30px;
	border-radius: 10px;
	aspect-ratio: 1/1;
	max-height: 200px;
}

.product-card-name {
	font-weight: 600;
}

.loadmorebtn {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background: none;
	color: #0f1923;
	cursor: pointer;
	position: relative;
	padding: 8px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	transition: all 0.15s ease;
}

.loadmorebtn::before,
.loadmorebtn::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	height: calc(50% - 5px);
	border: 1px solid #7d8082;
	transition: all 0.15s ease;
}

.loadmorebtn::before {
	top: 0;
	border-bottom-width: 0;
}

.loadmorebtn::after {
	bottom: 0;
	border-top-width: 0;
}

.loadmorebtn:active,
.loadmorebtn:focus {
	outline: none;
}

.loadmorebtn:active::before,
.loadmorebtn:active::after {
	right: 3px;
	left: 3px;
}

.loadmorebtn:active::before {
	top: 3px;
}

.loadmorebtn:active::after {
	bottom: 3px;
}

.loadmorebtn_lg {
	position: relative;
	display: block;
	padding: 10px 20px;
	color: #fff;
	background-color: #0f1923;
	overflow: hidden;
	box-shadow: inset 0px 0px 0px 1px transparent;
}

.loadmorebtn_lg::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background-color: #0f1923;
}

.loadmorebtn_lg::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 4px;
	height: 4px;
	background-color: #0f1923;
	transition: all 0.2s ease;
}

.loadmorebtn_sl {
	display: block;
	position: absolute;
	top: 0;
	bottom: -1px;
	left: -8px;
	width: 0;
	background-color: #ff4655;
	transform: skew(-15deg);
	transition: all 0.2s ease;
}

.loadmorebtn_text {
	position: relative;
}

.loadmorebtn:hover {
	color: #0f1923;
}

.loadmorebtn:hover .loadmorebtn_sl {
	width: calc(100% + 15px);
}

.loadmorebtn:hover .loadmorebtn_lg::after {
	background-color: #fff;
}
